
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/MyStyles.css" />
<h2></h2>

<body>

        <div class="container" id="LineUp">
            <a href="@Url.Action("Instrument", "Rental", new { ID = 1 })">
                <img src="~/Content/Images/trumpet.png" class="image">
                <div class="middle">
                    <div class="text">
                        Trumpet
                    </div>
                    <a />
                </div>

        </div>
    <br />
        <div class="container" id="LineUp">
            <a href="@Url.Action("Instrument", "Rental", new { ID = 2 })">
                <img src="~/Content/Images/Trombone.jpg" class="image" />
                <div class="middle">
                    <div class="text">
                        Trombone
                    </div>
                    <a />
                </div>

        </div>
    <br />
        <div class="container" id="LineUp">
            <a href="@Url.Action("Instrument", "Rental", new { ID = 3 })">
                <img src="~/Content/Images/tuba.png" class="image" />
                <div class="middle">
                    <div class="text">
                        Tuba
                    </div>
                    <a />
                </div>

        </div>
    <br />
        <div class="container" id="LineUp">
            <a href="@Url.Action("Instrument", "Rental", new { ID = 4 })">
                <img src="~/Content/Images/flute.png" class="image" />
                <div class="middle">
                    <div class="text">
                        Flute
                    </div>
                    <a />
                </div>

        </div>
    <br />

        <div class="container" id="LineUp">
                <a href="@Url.Action("Instrument", "Rental", new { ID = 5 })">
                    <img src="~/Content/Images/clarinet.png" class="image" />
                    <div class="middle">
                <div class="text">
                    Clarinet
                </div>
                <a />
            </div>

    </div>
    <br />
        <div class="container"id="LineUp">
                    <a href="@Url.Action("Instrument", "Rental", new { ID = 6 })">
                        <img src="~/Content/Images/Saxophone.png" class="image" />
                        <div class="middle">
                <div class="text">
                    Saxophone
                </div>
                <a />
            </div>

    </div>
</body>