@model IEnumerable<BlowOut.Models.Instrument>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<link rel="stylesheet" type="text/css" href="~/Content/MyStyles.css" />
<h2></h2>

<body>

    <div class="container" id="LineUp">
        <a href="@Url.Action("Details", "Instruments", new { Description = "Trumpet" })">
            <img src="~/Content/Images/trumpet.png" class="image">
            <div class="middle">
                <div class="text">
                    Trumpet
                </div>
                <a />
            </div>

    </div>
    <br />
    <div class="container" id="LineUp">
        <a href="@Url.Action("Details", "Instruments", new { Description = "Trombone"})">
            <img src="~/Content/Images/Trombone.jpg" class="image" />
            <div class="middle">
                <div class="text">
                    Trombone
                </div>
                <a />
            </div>

    </div>
    <br />
    <div class="container" id="LineUp">
        <a href="@Url.Action("Details", "Instruments", new {Description = "Tuba"})">
            <img src="~/Content/Images/tuba.png" class="image" />
            <div class="middle">
                <div class="text">
                    Tuba
                </div>
                <a />
            </div>

    </div>
    <br />
    <div class="container" id="LineUp">
        <a href="@Url.Action("Details", "Instruments", new { Description = "Flute" })">
            <img src="~/Content/Images/flute.png" class="image" />
            <div class="middle">
                <div class="text">
                    Flute
                </div>
                <a />
            </div>

    </div>
    <br />

    <div class="container" id="LineUp">
        <a href="@Url.Action("Details", "Instruments", new {Description = "Clarinet" })">
            <img src="~/Content/Images/clarinet.png" class="image" />
            <div class="middle">
                <div class="text">
                    Clarinet
                </div>
                <a />
            </div>

    </div>
    <br />
    <div class="container" id="LineUp">
        <a href="@Url.Action("Details", "Instruments", new {Description = "Saxophone" })">
            <img src="~/Content/Images/Saxophone.png" class="image" />
            <div class="middle">
                <div class="text">
                    Saxophone
                </div>
                <a />
            </div>

    </div>
</body>

</table>
